<!DOCTYPE html>
<head>
<link rel="stylesheet" href="./static/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <div class="h-space">
        <div id="logo">
            公司名稱
            <img src='./static/pencil.png' width="50">
            <br>
            Company name
        </div>
        <div id="menu">
            <div id="main-page-button">主頁</div>
            <div id="start-matching">開始配對</div>
            <div id="login">登入</div>
        </div>
    </div>
    <div id="banner">
        <div class="h-center">
            <div class="v-center">
                爲你尋找最佳導師
            </div>
        </div>
    </div>
    <script src="./static/index.js"></script>​
</body>